<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
    <title>Blog-I.T!</title>
</head>
<body>
 <header>
        {{#if loggedIn}}

            <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/home">Home</a> </li>
            <li class="uk-active"><a href="/dashboard">Dashboard</a></li>
            <li class="uk-active"> <a  href="/api/users/logout">Logout</a></li>
            <li class="uk-position-center uk-text-middle uk-text-large" style="margin-top: 1%; font-size:30px; font-weight: 900px !important"> <p>Hello, {{username}}</p></li>
        </ul>

    </div>
</nav>
        {{else}}
    <script>function notLogged(){location.replace("login")}</script>
        {{/if}}
    </header>
    <main>
    {{{body}}}
    </main>


</body>
</html>

