

<h1>{{title}}</h1>
<p>{{body}}</p>
<h6>{{createdAt}}|{{Username}}</h6>
<hr>
<form>
<button type="button" id="comment">comment</button>
<input type="text" id="commentInput" >
</form>


<script src="/js/comment.js"></script>